.activity {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.activity p {
    text-align: justify;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.activity img {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-right: 1rem;
}

.activity button {
    text-decoration: none;
    background-color: #252617;
    border: 0.1rem solid #252617;
    padding: 1rem;
    border-radius: 7%;
    color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.modal {
    display: none;
    position: fixed;
    padding-top: 1rem;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    margin: 15% auto;
    width: 80%;
    height: 45%;
    border-radius: 5%;
}

.modal-content p {
    padding: 1rem;
}

.modal-content select {
    padding: 0.6rem;
    width: 80%;
    margin: 1rem;
}

.modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.modal-header h2 {
    font-size: 1.2rem;
}

.modal-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 1rem;
    border-top: 1px solid grey;
}

.modal-footer button {
    margin-top: 1rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

.close-btn button{
    background-color: rgb(201, 199, 199);
    color: black;
}

.close {
    color: black;
    font-size: 2rem;
}


.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    cursor: pointer;
}

/**MEDIA QUERIES**/
:root {
    font-size: 16px;
}

@media (min-width: 900px) {

    .modal-content {
        border-radius: 1rem;
        justify-content: space-around;
        background-color: white;
        width: 50%;
        height: 50%;
    }

    .activity {  
        flex-direction: row;
        flex-flow:  row wrap;
        justify-content: space-around;
    }

    .activity button {
        text-decoration: none;
        background-color:  #252617;
        border: 0.1rem solid #252617;
        color: white;
        padding: 2rem;
        border-radius: 4%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 1.5rem;
    }

    .modal-footer button {
        margin-top: 1rem;
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
        font-size: 1rem;
        padding: 1rem;
        border-radius: 7%;
    }

    .close-btn button{
        background-color: rgb(201, 199, 199);
        color: black;
    }

}
/*=========================================================*/