/** GRID DISPLAY **/
.grid-container {
    display: grid;
    grid-template-areas: "hd"
                         "main"
                         "ft";
    grid-template-rows: auto 1fr auto;
}

header {
    grid-area: hd;
}

main {
    grid-area: main;
}

footer {
    grid-area: ft
}
/*=========================================================*/

/**SEMANTIC TAGS**/
header {
    position: sticky;
    background-color: #252617;
}

main {
    flex-grow: 1;
}

footer {
    background-color: #252617;
}

body {
    display:flex;
    flex-direction: column;
    background-color: #d1f0e0;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;

}
/*=========================================================*/

/**HEADER**/
.head {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: white;
    padding: 0.5rem;
}
/*=========================================================*/

.main-section{
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
}

/**CONTENT**/
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
    
}
/*=========================================================*/

/**FOOTER**/
.foot {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.foot p {
    font-family:'Roboto', sans-serif;
    color: white;
    padding: 0.5rem;
    font-size: 0.8rem;
}
/*=========================================================*/

/**MEDIA QUERIES**/
:root {
    font-size: 16px;
}

@media (min-width: 900px) {

}
/*=========================================================*/