.main-header{
    width: 100%;
    background-image: url(../images/mountain3.jpg);
    opacity: 0.6;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: white;
    height: max-content;
}

.item-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 0.5rem;
}

.item{
    border-left: 0.3rem #252617;
    border-left-style: solid;
    display: flex;
    flex-direction: row;
    align-items: center; 
    text-align: center;
    padding: 0.5rem;
    background-color: rgba(50, 51, 31,0.3);
}

.item-index{
    padding: 0.5rem;
    font-size: 3rem;;
}

.item-content{
    margin-left: 1rem;
}

img{
    width: 100%;
}

.create-item{
    width: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    justify-content: center;
    padding: 0.5rem;
    margin: auto;
}

a{
    text-decoration: none;
    color: black;
}

*=========================================================*/

/**MEDIA QUERIES**/
:root {
    font-size: 16px;
}

@media (min-width: 900px) {
    .main-content {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
    }

    .main-header{
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .item-container{
        width: max-content;
        flex-direction: row;
        align-items: center; 
        text-align: center;
        justify-content: space-around;
        margin-top: 3rem;
        margin-left: 1rem;
    }

    .item{
        width: 15rem;
    }

    .create-item-container{
        width: 15rem; 
    }

    .create-item{
        width: 7rem;
    }
}
/*=========================================================*/