table {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

thead {
    background-color: #252617;
    color: white;
    border: none;
}

tfoot {
    background-color: #252617;
    color: white;
    border: none;
}


td {
    padding: 0.2rem;
    font-size: 0.9rem;
}

th {
    border: none;
    padding: 0.3rem;
    font-weight: bold;
}

.row-one {
    background-color: #E0DFD5;
}

.row-two {
    background-color: #E8E9EB;
}

.item-options-trash p{
    color: red;
    font-size: 1.7rem;
}

.btn-edit:hover,
.btn-edit:focus {
    cursor: pointer;
}

/**MODAL**/

.modal {
    display: none;
    position: fixed;
    padding-top: 1rem;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.modal-header h2 {
    font-size: 1.2rem;
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    margin: 15% auto;
    width: 80%;
    height: 45%;
    border-radius: 5%;
}

.modal-content p {
    padding: 1rem;
}

.modal-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 1rem;
    border-top: 1px solid grey;
}

.modal-footer button {
    text-decoration: none;
    background-color: #F06543;
    border: 0.1rem solid #252617;
    padding: 1rem;
    border-radius: 7%;
    color: black;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

.close-btn button{
    background-color: rgb(201, 199, 199);
    color: black;
}

.close {
    color: black;
    font-size: 2rem;
}
/*=========================================================*/

/**MEDIA QUERIES**/
:root {
    font-size: 16px;
}

@media (min-width: 900px) {
    table {
        border-collapse: collapse;
    }

    td {
        border:none;
        padding: 1.5rem;
        font-size: 1rem;
    }
    
    th {
        border: none;
        padding: 1.5rem;
        font-size: 1.3rem;
    }

    .modal-content {
        border-radius: 1rem;
        justify-content: space-around;
        background-color: white;
        width: 50%;
        height: 50%;
    }
}
/*=========================================================*/